@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

body > * {
  margin: 42px 5% 0 5%;
  cursor: default;
}

.container {
  max-width: 1440px;
  margin: auto;
}

#artist #contact {
  position: fixed;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #901C1C;
  color: #fff;
  padding: 5px 18px 7px 18px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 2;
}

#artist #contact:hover, #artist #contact:focus {
  background-color: #DB8876;
  color: #000;
}

@media all and (min-width: 992px) {
  #artist #contact {
    position: absolute;
    width: 170px;
    height: 69px;
    font-size: 20px;
    padding: 0;
    bottom: 25%;
    left: 60%;
  }
}

.button {
  position: fixed;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #901C1C;
  color: #fff;
  padding: 5px 18px 7px 18px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 2;
}

input, textarea {
  cursor: auto;
}

.slider-content img, .slider-content video {
  cursor: default;
}

/*.filter {
    display: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      margin: 3rem 0 3rem;
      font-weight: 500;
      text-decoration: none;
      span {
        margin-right: 2rem;
        font-size: 2rem;
        text-decoration: none;
      }
}

.dropdownMenu {
    width: 15rem;
    background-color: $color-primary;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-select {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    
    &_trigger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-size: 2rem;
        font-weight: 300;
        color: white;
        height: 4.5rem;
        line-height: 6rem;
        background: $color-primary;
        cursor: pointer;
       
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
          a{
            color: white;
          text-decoration: none;

            ::focus ::after{
              color: white;
            }
          }
    }
}

.filter-options-container {
    position: absolute;
    display: block;
    top: 100%;
    left: -27px;
    right: 0;
    background: $color-primary;
    transition: all 0.5s;
    pointer-events: none;
    width: 15rem;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    
}
  
.filter-select.open {

  .filter-options-container {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
  }

}

.filter-option {
    position: relative;
    display: block;
    margin: 0 2rem 0;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    line-height: 6rem;
    cursor: pointer;
    transition: all 0.5s;
    width: 15rem;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
    &.selected {
      display: none;
      text-decoration: none;
    }
    &:not(.selected) {
      border-top: solid 1px white;
      width: 80%;
    }
}

//Dropdown arrow
.arrow {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    left: 185px;
    bottom: 25px;
    color: white;
  }
  
  .arrow::before,
  .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
  }
  //arrow animation true/false
  .arrow::before {
    left: -0.5rem;
    transform: rotate(45deg);
    background-color: white;
  }
  .arrow::after {
    left: 0.5rem;
    transform: rotate(-45deg);
    background-color: white;
  }
  .open .arrow::before {
    left: -0.5rem;
    transform: rotate(-45deg);
  }
  .open .arrow::after {
    left: 0.5rem;
    transform: rotate(45deg);
  }


//Dropdow Menu v2
.dropdown-menu-arrow {
  top: -25px;
  left: 50%;
  width: 0;
  height: 0;
  position: relative;
}
.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}
.dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0,0,0,.15);
}*/
/*@media (min-width: 900px) {
  .arrow-down-open {
      color: #fff;
      left: 18.5rem;
      position: absolute;
      top: 26.4rem;
  }
  .arrow-up-close {
      color: #fff;
      left: 8.5rem;
      position: absolute;
      top: 1.55rem;
  }

  .hidden-sort li {
      background: $color-primary;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 1.25rem;
  }

  .sort-btn {
      align-items: center;
      background: $color-primary;
      border: none;
      border-radius: 5px;
      color: #fff;
      display: flex;
      font-size: 1rem;
      font-weight: 500;
      justify-content: flex-start;
      left: 11rem;
      padding: .625rem 1.25rem;
      position: absolute;
      top: 25.6rem;
      width: 10rem;
      margin: 40px;
  }

  .works-sort {
      display: block;
      margin-left: -30px;
      margin-top: 0;
  }

  .works-sort>span {
      font-size: 1.2rem;
      font-weight: 700;
      margin-right: 1.5625rem;
  }

  ul.hidden-sort {
      border-radius: 5px;
      color: #fff;
      display: none;
      left: 167px;
      padding: 0;
      position: absolute;
      top: 385px;
      width: 11rem;
      z-index: 10;
  }

  ul.hidden-sort li:hover {
      background-color: $color-primary;
      cursor: pointer;
  }

  ul.hidden-sort li:nth-child(1) {
      align-items: center;
      display: flex;
      justify-content: space-between;
  }*/
/*input[type="radio"] {
  display: none;
}


input[type="radio"] + label {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: $color-primary;
  color: white;
  display: inline-block;
}

.radio_select:hover label {
  display: inline-block;
}




.radio_select {
  background-color: $color-primary;
  display: inline-block;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  height: 60px;
  width: 170px;
} */
/*.sort {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  
}
#selected-filter {
  list-style: none;
}
#sort-list {
  padding: 1rem 0;
  text-align: left;
}
#sort-list li {
  margin-left: -2.5rem;
  padding: 0.5rem 0;
}
.popularity-btn {
  width: 11rem;
  color: white;
  left: 12rem;
  top: 22.5rem;
  padding: 1rem 0 1rem 1rem;
  font-weight: 900;
  font-size: 1.3rem;
  background-color: $color-primary;
  border-style: none;
  border-radius: 5px;
  min-height: 2rem;
  position: absolute;  
}
.popularity-btn-opened {
  z-index: 9;
  text-align: left;
  display: none;

    :hover, :focus {
      display: block;
    }
}
.popularity-btn-opened ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sort-by-date,.sort-by-title {
  border-top: solid 1px white;
  width: 80%;
}
#text-choice {
  display: flex;
  justify-content: space-between;
}
#popularity-btn {
  display: flex;
}
.fa-chevron-down {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
.fa-chevron-up {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  color: white;
}
.sort-list_closed nav {
  padding: 0;
}
.sort-list_closed:hover,
.sort-list_closed:focus {
  background-color: $color-secondary;
  color: black;
}
.sort-by button {
  background-color: $color-primary;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
}
.sort-by button:hover,.sort-by button:focus {
  background-color: $color-secondary;
  color: black;
  display: block;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-weight: 500;
  font-size: 12px;
  padding: 2rem 0 0 0;
  width: auto;
}*/
.content-link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background: #911c1c;
  color: #fff;
  font-weight: 700;
  left: 41%;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
  text-decoration: none;
  z-index: 3;
}

.content-link:focus {
  background-color: #DB8876;
  color: #000;
}

.content-link:focus-within {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

#header img {
  width: 150px;
  height: 37.5px;
}

@media all and (min-width: 992px) {
  #header img {
    width: 200px;
    height: 50px;
  }
}

#main-photographer {
  margin-top: 30px;
}

#main-photographer #artist {
  position: relative;
  margin-bottom: 30px;
}

@media all and (min-width: 576px) {
  #main-photographer #artist {
    background-color: #FAFAFA;
    padding: 50px;
  }
}

#main-photographer #artist img {
  position: absolute;
  right: 4%;
  top: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

@media all and (min-width: 992px) {
  #main-photographer #artist img {
    height: 200px;
    width: 200px;
    right: 4%;
  }
}

#main-photographer #artist h2 {
  color: #D3573C;
  font-weight: 400;
  font-size: 36px;
  margin: 20px 0 0 0;
  max-width: 200px;
}

@media all and (min-width: 992px) {
  #main-photographer #artist h2 {
    font-size: 64px;
    margin: 0;
    max-width: 100%;
  }
}

#main-photographer #artist #localisation {
  color: #901C1C;
  font-size: 13px;
  margin: 0 0 4px 0;
}

@media all and (min-width: 992px) {
  #main-photographer #artist #localisation {
    font-size: 24px;
    margin: 0 0 19px 0;
  }
}

#main-photographer #artist #tagline {
  font-size: 13px;
  margin: 0 0 2px 0;
  color: #525252;
}

@media all and (min-width: 992px) {
  #main-photographer #artist #tagline {
    font-size: 18px;
    margin: 0 0 15px 0;
  }
}

@media all and (max-width: 992px) {
  #dropdown {
    display: none;
  }
}

#dropdown #sort-list {
  font-weight: 700;
  font-size: 18px;
}

#dropdown #sort-by {
  background-color: #901C1C;
  color: #fff;
  border: none;
  height: 65px;
  width: 170px;
  border-radius: 5px;
  margin: 9px 0 48px 25px;
  font-size: 18px;
  padding: 20px;
}

#dropdown #sort-by option#\30 {
  color: #fff;
}

#dropdown #sort-by option#\31 {
  color: #fff;
}

#dropdown #sort-by option#\32 {
  color: #fff;
}

#media-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2%;
}

@media all and (max-width: 1215px) {
  #media-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10%;
  }
}

#media-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 350px;
  text-decoration: none;
}

#media-section article #media-image,
#media-section article #media-video {
  cursor: pointer;
  width: 100%;
  height: 190px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
  border-radius: 5px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

@media all and (min-width: 992px) {
  #media-section article #media-image,
  #media-section article #media-video {
    height: 300px;
  }
}

#media-section article #media-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

#media-section article #media-text h2 {
  max-width: 270px;
  font-size: 0.9rem;
  color: #901C1C;
  margin: 10px 0 10px 0;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (min-width: 992px) {
  #media-section article #media-text h2 {
    font-size: 24px;
    margin: 10px 0 30px 0;
  }
}

#media-section article #media-text button {
  cursor: pointer;
  font-size: 0.9rem;
  color: #901C1C;
  font-weight: 500;
  margin: 10px 0 10px 0;
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#media-section article #media-text button p {
  margin: 0;
}

@media all and (min-width: 992px) {
  #media-section article #media-text button {
    font-size: 24px;
    margin: 10px 0 30px 0;
  }
}

#media-section article #media-text button img {
  margin-left: 4.5px;
  width: 11.5px;
  height: 10.2px;
}

@media all and (min-width: 992px) {
  #media-section article #media-text button img {
    width: 18.5px;
    height: 17px;
  }
}

.popup-text {
  position: fixed;
  bottom: -5px;
  right: 2%;
  background-color: #db8876;
  width: 376px;
  height: 60px;
  border-radius: 5px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media all and (max-width: 992px) {
  .popup-text {
    bottom: -60px;
  }
}

.popup-text .likes-total img {
  margin-left: 5px;
  width: 18.5px;
  height: 17px;
}

.accueil {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */