//Logo
#logo img {
    width: 200px;
    margin: 1rem 0 0 0;
  }

//Header
#header {
    display: flex;
    justify-content: space-around;
    margin: auto 1rem auto 5rem;
    padding-bottom: 5rem;
  }

  h1 {
    color: $color-primary;
    font-weight: 400;
    font-size: 36px;
    margin: 1rem 0;
    padding: 0;
  }