// Contact button on artist's page
.contactButton {
  height: 1rem;
  border: none;
  margin-top: 1.8rem;
  margin-right: 1rem;
  padding: 2rem 1rem;
  line-height: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: $color-primary;
  border-radius: 5px;
}

.contactButton:hover,
.contactButton:focus {
  background-color: $color-secondary;
  color: black;
}

//Button form
.btn-submit {
  background: $color-primary;
  color: #fff;
  display: block;
  margin: 2rem 0;
  border-radius: 7px;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

#btn-envoi:hover,
#btn-envoi:focus {
  background: $color-primary;
  color: #fff;
}

.btn-submit_off {
  background: lightgrey;
  cursor: not-allowed;
}

button#btn-ferm {
  background: $color-primary;
  color: #fff;
  display: block;
  margin: 2rem 0;
  border-radius: 7px;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

button#btn-ferm:hover{
  color: black;
}