//Index
.accueil {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
  }
  
.main {

  h2 {
    color: $color-artists-name;
    font-weight: 400;
    font-size: 36px;
    margin: 20px 0 0 0;
    max-width: 200px;

    @media all and (min-width: $breakpoint-desktop) {
      font-size: 64px;
      margin: 0;
      max-width: 100%;
    }

  
}  

.main img {
  
  width: 14rem;
  height: 14rem;
  border-radius: 14rem;
  object-fit: cover;
  
}

.photoIdentite {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.lieu {
  color: $color-primary;
  font-size: 13px;
  margin: 0 0 3px 0;
}  
.tagline {
  font-size: 10px;
  margin: 0 0 3px 0;
}  

.prix {
  font-size: 9px;
  color: #757575;
  margin: 3px 0 50px 0;
}
}